{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
    <!-- Gen la balise form -->
    {{ form_start(formRegister) }}
    <!-- Gen les inputs -->
    {{ form_widget(formRegister) }}

    <button class="btn btn-lg btn-primary" type="submit">
        Register
    </button>
    <!-- Ferme la balise form -->
    {{ form_end(formRegister) }}

{% endblock %}
